.container{
    max-width: 1140px;
    margin: 0 auto;
}
.headerInner{
    padding: 30px 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerBottom{
    padding: 30px 15px;
    ul{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        li a{
            text-decoration: none;
            color: black;
        }
    }
}